In [1]:
import pandas as pd
import numpy as np
import datetime as dt


import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import distinct
from sqlalchemy import create_engine, func , inspect

# Data from 1995 to 2015

In [3]:
engine = create_engine("sqlite:///static/data/FPA_FOD_20170508.sqlite")
inspector = inspect(engine)
columns = inspector.get_columns('Fires') 
for column in columns:
    print(column['name'], column['type'])

OBJECTID INTEGER
FOD_ID INTEGER
FPA_ID TEXT(100)
SOURCE_SYSTEM_TYPE TEXT(255)
SOURCE_SYSTEM TEXT(30)
NWCG_REPORTING_AGENCY TEXT(255)
NWCG_REPORTING_UNIT_ID TEXT(255)
NWCG_REPORTING_UNIT_NAME TEXT(255)
SOURCE_REPORTING_UNIT TEXT(30)
SOURCE_REPORTING_UNIT_NAME TEXT(255)
LOCAL_FIRE_REPORT_ID TEXT(255)
LOCAL_INCIDENT_ID TEXT(255)
FIRE_CODE TEXT(10)
FIRE_NAME TEXT(255)
ICS_209_INCIDENT_NUMBER TEXT(255)
ICS_209_NAME TEXT(255)
MTBS_ID TEXT(255)
MTBS_FIRE_NAME TEXT(50)
COMPLEX_NAME TEXT(255)
FIRE_YEAR INTEGER
DISCOVERY_DATE REAL
DISCOVERY_DOY INTEGER
DISCOVERY_TIME TEXT(4)
STAT_CAUSE_CODE REAL
STAT_CAUSE_DESCR TEXT(100)
CONT_DATE REAL
CONT_DOY INTEGER
CONT_TIME TEXT(4)
FIRE_SIZE REAL
FIRE_SIZE_CLASS TEXT(1)
LATITUDE REAL
LONGITUDE REAL
OWNER_CODE REAL
OWNER_DESCR TEXT(100)
STATE TEXT(255)
COUNTY TEXT(255)
FIPS_CODE TEXT(255)
FIPS_NAME TEXT(255)
Shape INTEGER

In [16]:
# Find number of fire 

fires_year_size = pd.read_sql_query("""SELECT FIRE_NAME, FIRE_YEAR, STATE,DISCOVERY_DATE,CONT_DATE, FIRE_SIZE_CLASS, FIRE_SIZE, LATITUDE,LONGITUDE
                                 FROM fires 
                                 ORDER BY FIRE_YEAR DESC """
                                 ,engine)

fires_year_size

,FIRE_NAME,FIRE_YEAR,STATE,DISCOVERY_DATE,CONT_DATE,FIRE_SIZE_CLASS,FIRE_SIZE,LATITUDE,LONGITUDE
0,LINCOLN,2015,MT,2457248.5,2457249.5,A,0.10,45.934167,-113.020833
1,BEAR LAKE,2015,MT,2457254.5,NaN,G,6313.00,45.515278,-113.245278
2,GREY,2015,MT,2457217.5,2457218.5,A,0.25,45.727222,-112.943889
3,JUMBO MOUNTAIN,2015,MT,2457248.5,NaN,A,0.10,45.455556,-113.749722
4,DEADMAN TRAIL,2015,MT,2457294.5,2457321.5,A,0.10,44.416667,-112.843333
...,...,...,...,...,...,...,...,...,...
1880460,None,1992,HI,2448776.5,NaN,C,10.00,21.366400,-157.839188
1880461,None,1992,HI,2448805.5,NaN,C,10.00,21.323521,-157.819824
1880462,None,1992,HI,2448840.5,NaN,A,0.10,21.497620,-158.187042
1880463,None,1992,HI,2448842.5,NaN,A,0.10,21.497620,-158.187042
1880464,None,1992,HI,2448841.5,NaN,A,0.10,21.497620,-158.187042

In [22]:
fires_size_df = pd.read_sql_query("""SELECT FIRE_YEAR, FIRE_SIZE 
                                 FROM fires 
                                 GROUP BY FIRE_YEAR, FIRE_SIZE
                                 
                                 ORDER BY FIRE_YEAR """
                                 ,engine)

fires_size_df

       FIRE_YEAR  FIRE_SIZE
0           1992       0.01
1           1992       0.02
2           1992       0.03
3           1992       0.04
4           1992       0.05
...          ...        ...
53557       2015  213254.10
53558       2015  218138.00
53559       2015  276038.10
53560       2015  283180.00
53561       2015  312918.30

[53562 rows x 2 columns]

# Data from 1995 to 2018

In [9]:
engine = create_engine("sqlite:///static/data/FPA_FOD_20210617.sqlite")

In [10]:
inspector = inspect(engine)

In [11]:
inspector.get_table_names()
num_of_table = len(inspector.get_table_names())
num_of_table

2

In [12]:

inspector.get_table_names()

['Fires', 'NWCG_UnitIDActive_20200123']

In [13]:
df = pd.read_sql_query("SELECT * from fires " , engine)
df.columns

Index(['FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_PLUS_INCIDENT_JOIN_ID', 'ICS_209_PLUS_COMPLEX_JOIN_ID',
       'MTBS_ID', 'MTBS_FIRE_NAME', 'COMPLEX_NAME', 'FIRE_YEAR',
       'DISCOVERY_DATE', 'DISCOVERY_DOY', 'DISCOVERY_TIME',
       'NWCG_CAUSE_CLASSIFICATION', 'NWCG_GENERAL_CAUSE',
       'NWCG_CAUSE_AGE_CATEGORY', 'CONT_DATE', 'CONT_DOY', 'CONT_TIME',
       'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'OWNER_DESCR',
       'STATE', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME'],
      dtype='object')

In [54]:
fires_df = pd.read_sql_query("SELECT * from fires limit 400000", engine)
fires_df

,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,LOCAL_FIRE_REPORT_ID,...,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,511,Plumas National Forest,1.0,...,1730.0,0.10,A,40.036944,-121.005833,USFS,CA,63,06063,Plumas County
1,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,13.0,...,1530.0,0.25,A,38.933056,-120.404444,USFS,CA,61,06061,Placer County
2,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,27.0,...,2024.0,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17,06017,El Dorado County
3,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,43.0,...,1400.0,0.10,A,38.559167,-119.913333,USFS,CA,3,06003,Alpine County
4,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,44.0,...,1200.0,0.10,A,38.559167,-119.933056,USFS,CA,3,06003,Alpine County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,433865,SFO-2003FLFLS2003060061,NONFED,ST-NASF,ST/C&L,USFLFLS,Florida Forest Service,FLFLS,Florida Forest Service,NaN,...,1818.0,0.50,B,30.266670,-82.666660,PRIVATE,FL,Columbia,12023,Columbia County
399996,433866,SFO-2003FLFLS2003060062,NONFED,ST-NASF,ST/C&L,USFLFLS,Florida Forest Service,FLFLS,Florida Forest Service,NaN,...,1458.0,0.20,A,30.466670,-82.900000,PRIVATE,FL,Hamilton,12047,Hamilton County
399997,433867,SFO-2003FLFLS2003060063,NONFED,ST-NASF,ST/C&L,USFLFLS,Florida Forest Service,FLFLS,Florida Forest Service,NaN,...,1041.0,10.00,C,30.316670,-82.633330,PRIVATE,FL,Columbia,12023,Columbia County
399998,433868,SFO-2003FLFLS2003060064,NONFED,ST-NASF,ST/C&L,USFLFLS,Florida Forest Service,FLFLS,Florida Forest Service,NaN,...,1446.0,11.00,C,30.116670,-82.900000,PRIVATE,FL,Suwannee,12121,Suwannee County
399999,433869,SFO-2003FLFLS2003060065,NONFED,ST-NASF,ST/C&L,USFLFLS,Florida Forest Service,FLFLS,Florida Forest Service,NaN,...,1505.0,2.00,B,30.150000,-82.783330,PRIVATE,FL,Columbia,12023,Columbia County

In [55]:
fires_df.shape

(400000, 37)

In [56]:
fires_df.to_csv('static/data/fires_2018.csv', index=False)

In [16]:
fires_df = pd.read_sql_query("SELECT * from fires", engine)

fires_CA = fires_df[fires_df.STATE == 'CA']

fires_CA.head()

,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,LOCAL_FIRE_REPORT_ID,...,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,511,Plumas National Forest,1,...,1730.0,0.10,A,40.036944,-121.005833,USFS,CA,63,06063,Plumas County
1,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,13,...,1530.0,0.25,A,38.933056,-120.404444,USFS,CA,61,06061,Placer County
2,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,27,...,2024.0,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17,06017,El Dorado County
3,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,43,...,1400.0,0.10,A,38.559167,-119.913333,USFS,CA,3,06003,Alpine County
4,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,Eldorado National Forest,44,...,1200.0,0.10,A,38.559167,-119.933056,USFS,CA,3,06003,Alpine County

In [2]:
# filres - data select

fires_df = pd.read_sql_query("""SELECT FIRE_NAME, FIRE_YEAR,DISCOVERY_DATE,CONT_DATE,CONT_DATE,SOURCE_REPORTING_UNIT_NAME, STATE, FIRE_SIZE_CLASS, FIRE_SIZE, LATITUDE,LONGITUDE
                                 FROM fires 
                                 ORDER BY FIRE_SIZE DESC """
                                 ,engine)

fires_df

NameError: name 'pd' is not defined

In [24]:
columns = inspector.get_columns('Fires') 
for column in columns:
    print(column['name'], column['type'])

FOD_ID INTEGER
FPA_ID TEXT
SOURCE_SYSTEM_TYPE TEXT
SOURCE_SYSTEM TEXT
NWCG_REPORTING_AGENCY TEXT
NWCG_REPORTING_UNIT_ID TEXT
NWCG_REPORTING_UNIT_NAME TEXT
SOURCE_REPORTING_UNIT INTEGER
SOURCE_REPORTING_UNIT_NAME TEXT
LOCAL_FIRE_REPORT_ID INTEGER
LOCAL_INCIDENT_ID TEXT
FIRE_CODE TEXT
FIRE_NAME TEXT
ICS_209_PLUS_INCIDENT_JOIN_ID TEXT
ICS_209_PLUS_COMPLEX_JOIN_ID TEXT
MTBS_ID TEXT
MTBS_FIRE_NAME TEXT
COMPLEX_NAME TEXT
FIRE_YEAR INTEGER
DISCOVERY_DATE TEXT
DISCOVERY_DOY INTEGER
DISCOVERY_TIME INTEGER
NWCG_CAUSE_CLASSIFICATION TEXT
NWCG_GENERAL_CAUSE TEXT
NWCG_CAUSE_AGE_CATEGORY TEXT
CONT_DATE TEXT
CONT_DOY INTEGER
CONT_TIME INTEGER
FIRE_SIZE REAL
FIRE_SIZE_CLASS TEXT
LATITUDE REAL
LONGITUDE REAL
OWNER_DESCR TEXT
STATE TEXT
COUNTY TEXT
FIPS_CODE TEXT
FIPS_NAME TEXT

In [37]:
# Find number of fire 

fires_year_size = pd.read_sql_query("""SELECT FIRE_NAME, FIRE_YEAR, STATE, FIRE_SIZE_CLASS, FIRE_SIZE, LATITUDE,LONGITUDE
                                 FROM fires 
                                 ORDER BY FIRE_SIZE DESC """
                                 ,engine)

fires_year_size

,FIRE_NAME,FIRE_YEAR,STATE,FIRE_SIZE_CLASS,FIRE_SIZE,LATITUDE,LONGITUDE
0,OKS - STARBUCK,2017,OK,G,662700.00000,36.774470,-100.175200
1,INOWAK,1997,AK,G,606945.00000,61.982700,-157.085700
2,LONG DRAW,2012,OR,G,558198.30000,42.391894,-117.893687
3,WALLOW,2011,AZ,G,538049.00000,33.606111,-109.449722
4,BOUNDARY,2004,AK,G,537627.00000,65.266300,-146.885800
...,...,...,...,...,...,...,...
2166748,None,2016,NE,A,0.00010,41.146200,-102.990600
2166749,I90 LYMAN EXIT TIRE FIRE,2017,SD,A,0.00010,43.875600,-99.737400
2166750,None,2018,NE,A,0.00010,41.421574,-96.487663
2166751,None,2004,PA,A,0.00009,40.952110,-78.220390
2166752,NONE,2013,SD,A,0.00001,44.997000,-101.233300

In [70]:
# Number of Fires for Each States
fires_year_size.STATE.value_counts()

CA    235229
GA    180175
TX    167061
NC    123793
FL     99356
AZ     93417
NY     93171
SC     86021
MS     83106
AL     72482
OR     67157
CO     61226
MN     48679
OK     48140
MT     47262
NM     41193
ID     40154
WA     37789
AR     36678
WI     35316
SD     34781
UT     34328
TN     33611
LA     32243
NJ     30553
KY     29610
VA     23747
WV     23731
PR     22159
MO     21998
NV     18874
ND     18308
WY     17535
KS     17473
ME     14924
MI     14166
AK     14125
PA     10803
NE     10354
HI      9949
MA      6778
CT      6006
IA      5094
OH      4727
MD      3947
NH      2935
IL      2814
IN      2206
VT       671
RI       631
DE       187
DC        80
Name: STATE, dtype: int64

In [59]:
#Number of Fires Per Year
fires_year_size.FIRE_YEAR.value_counts(ascending=False)

2006    117943
2011     98904
2007     98837
2000     96397
2005     92921
1999     89350
2008     88306
2001     87001
2010     85579
2017     82279
2016     81994
2009     81492
2018     80863
2015     77275
2002     76128
1994     75932
1996     75561
2012     74258
1995     71440
2014     70480
2004     69370
1998     68356
2003     68275
1992     67961
2013     66434
1993     61975
1997     61442
Name: FIRE_YEAR, dtype: int64

In [62]:
fires_cause_all = pd.read_sql_query("""SELECT STATE NWCG_CAUSE_CLASSIFICATION, NWCG_GENERAL_CAUSE
                                 FROM fires 
                                 ORDER BY NWCG_CAUSE_CLASSIFICATION  """
                                 ,engine)

fires_cause_all

,NWCG_CAUSE_CLASSIFICATION,NWCG_GENERAL_CAUSE,NWCG_CAUSE_AGE_CATEGORY
0,AK,Recreation and ceremony,None
1,AK,Recreation and ceremony,None
2,AK,Fireworks,None
3,AK,Debris and open burning,None
4,AK,Debris and open burning,None
...,...,...,...
2166748,WY,Missing data/not specified/undetermined,None
2166749,WY,Missing data/not specified/undetermined,None
2166750,WY,Missing data/not specified/undetermined,None
2166751,WY,Missing data/not specified/undetermined,None
2166752,WY,Missing data/not specified/undetermined,None

In [66]:
# Wildfire Causes I
fires_df.NWCG_CAUSE_CLASSIFICATION.value_counts()

Human                                      1680058
Natural                                     312807
Missing data/not specified/undetermined     173887
Name: NWCG_CAUSE_CLASSIFICATION, dtype: int64

In [67]:
# Wildfire Causes II
fires_df.NWCG_GENERAL_CAUSE.value_counts()

Missing data/not specified/undetermined       547438
Debris and open burning                       507219
Natural                                       312807
Arson/incendiarism                            310320
Equipment and vehicle use                     175824
Recreation and ceremony                        92725
Misuse of fire by a minor                      64630
Smoking                                        61689
Railroad operations and maintenance            36437
Power generation/transmission/distribution     28491
Fireworks                                      17205
Other causes                                    9763
Firearms and explosives use                     2205
Name: NWCG_GENERAL_CAUSE, dtype: int64

In [ ]:
first_row = session.query(Fires).first()
first_row.__dict__

In [ ]:
con.close()

In [ ]:
session.close()

# Wildfire News

In [ ]:
url = "https://www.usgs.gov/products/data-and-tools/real-time-data/wildfire"
browser.visit(url)
html = browser.html

In [ ]:
soup = BeautifulSoup(html, 'html.parser')